@{
    ViewBag.Title = "操作结果";
    Layout = "~/Views/Template.cshtml";
}

<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <br /><h2>@ViewBag.Message</h2><br />
    </div>
</div>
