@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Template.cshtml";
}

<section id="main-slider" class="no-margin">
    <div class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>
            <li data-target="#main-slider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active" style="background-image: url(images/slider/bg1.jpg)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-12">
                            <div class="carousel-content">
                                <h1>欢迎使用 <span class="logo"><i class="fa fa-bolt"></i> 杰洁洗衣店管理软件</span></h1>
                                <h2>杰洁洗衣店管理软件是一款用于干洗店使用的会员和收衣管理系统,是开洗衣店必不可少的软件系统！</h2>
                                <a class="btn-slide" href="http://update.freeroo.xyz/Cleaner/Install_Free.exe">下 载</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.carousel-inner-->
    </div>
    <!--/.carousel-->
    <a class="prev hidden-xs" href="#main-slider" data-slide="prev"> <i class="fa fa-chevron-left"></i> </a> <a class="next hidden-xs" href="#main-slider" data-slide="next"> <i class="fa fa-chevron-right"></i> </a>
</section>
<!--/#main-slider-->
