@{
    ViewBag.Title = "价格";
    Layout = "~/Views/Template.cshtml";
}

<div class="color-border"> </div>
<section id="inner-page">
    <div class="container">
        <div class="center">
            <h2>我们的价格</h2>
            <p class="lead">
                我们的产品价格是根据客户要求的需求不同而有所不同，免费试用版本是永久免费的，但是没有正版授权的软件版本可用的功能多，许多高级功能将不能使用。还有应客户需求特殊定制软件的价格另议。
            </p>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title"> 免费使用版</h3>
                    </div>
                    <div class="panel-body">
                        <div class="the-price">
                            <h1> 完全免费</h1>
                        </div>
                        <table class="table">
                            <tr>
                                <td> 基本功能 </td>
                            </tr>
                            <tr class="active">
                                <td> 一键云备份（无） </td>
                            </tr>
                            <tr>
                                <td> 本地备份（无） </td>
                            </tr>
                            <tr class="active">
                                <td> 数据还原（无） </td>
                            </tr>
                            <tr>
                                <td> 远程协助（无） </td>
                            </tr>
                            <tr class="active">
                                <td> 无 </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer"> <a href="/update.freeroo.xyz/Cleaner/Install_Free.exe" class="btn btn-success" role="button">下载</a></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">专业版</h2>
                        推荐使用的版本
                    </div>
                    <div class="panel-body">
                        <div class="the-price">
                            <h1> ￥待定</h1>
                        </div>
                        <table class="table">
                            <tr>
                                <td> 基础功能 </td>
                            </tr>
                            <tr class="active">
                                <td> 一键云备份 </td>
                            </tr>
                            <tr>
                                <td> 一键云还原 </td>
                            </tr>
                            <tr class="active">
                                <td> 数据导入导出 </td>
                            </tr>
                            <tr>
                                <td>  远程协助指导</td>
                            </tr>
                            <tr class="active">
                                <td> 更多高级功能 </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer"> <a href="#" class="btn btn-success" role="button">下载</a></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title"> 定制版</h3>
                    </div>
                    <div class="panel-body">
                        <div class="the-price">
                            <h1> 价格面议</h1>
                        </div>
                        <table class="table">
                            <tr>
                                <td> 基础功能 </td>
                            </tr>
                            <tr class="active">
                                <td> 一键云备份 </td>
                            </tr>
                            <tr>
                                <td> 一键云还原 </td>
                            </tr>
                            <tr class="active">
                                <td> 数据导入导出 </td>
                            </tr>
                            <tr>
                                <td>  远程协助指导</td>
                            </tr>
                            <tr class="active">
                                <td> 更多高级功能 </td>
                            </tr>
                            <tr class="active">
                                <td> 按需求定制功能 </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer"> <a href="/Home/ContactUs" class="btn btn-success" role="button">联系我们</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
